/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.hide-header {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition: 1.0s ease-out;
}

.show-header {
    transition: 1.0s ease-out;
    max-height: 150px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 25px;
}

.main-header {
    font-size: 4em;
}

.navbar {
    background-color: #fff !important;
    border: 0 !important;
}

.searchInput {
    padding-top: 15px;
    padding-bottom: 15px;
}

#result {
    margin-top: 64px;
}

.searchBar-inSearch {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    transition: box-shadow 1.0s ease-in;
}

.searchBar-brand{
    padding: 14px 20px; 
    color: #fff; 
    background-color: #333; 
    font-size: 2em;
    opacity: 0;
    transition: opacity 1.0s ease-in;
}

.show-brand {
    opacity: 1;
}

a.disable {
    pointer-events: none;
    cursor: default;
}