<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", id = "mainSearchForm" }))
{
    <div class="form-group">
        @Html.Label("Search", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            <input type="text" id="searchTerm" name="searchTerm" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button class="btn btn-primary" type="submit">Go</button>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12" id="result">
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#mainSearchForm").submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    $('#result').html(result);
                }
            });
            return false;
        })
    })
</script>
