<div class="row">
    <div class="col-sm-10 col-sm-offset-1" id="result" data-bind="foreach: results">
        <div class="searchResult well">
            <img class="pull-right" data-bind="attr: { src: imageUrl}" style="height: 200px;"/>
            <h1 data-bind="html: getTitle"></h1>

            <div data-bind="visible: url() !== null && url() !== ''" style="margin: 10px 0;">
                <a data-bind="attr: { href: url }"><span class="fa fa-link"></span> IMDb</a>
            </div>

            <span><b>Matched Text:</b></span>
            <p class="nolinebreak"><em data-bind="html: getFragments"></em></p>

            <button class="btn-link">[Read Full Review]</button>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var vm = new ResultsViewModel("@Url.Action("Index", "Home")");
        ko.applyBindings(vm);

        $(function () {
            // cancel form submission and let knockout vm handle instead
            $("#mainSearchForm").submit(function () {
                vm.search();
                return false;
            });
        })
    </script>
}