<div class="row">
    <div class="col-sm-10 col-sm-offset-1" id="result" data-bind="foreach: results">
        <div class="searchResult well">
            <h2>Review for "<span data-bind="text: title"></span>"</h2>
            <div class="review-text" data-bind="html: text"></div>
            <a data-bind="attr: { href: url }, text: url"></a>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var vm = new ResultsViewModel("@Url.Action("Index", "Home")");
        ko.applyBindings(vm);

        $(function () {
            // cancel form submission and let knockout vm handle instead
            $("#mainSearchForm").submit(function () {
                vm.search();
                return false;
            });
        })
    </script>
}