@section Header{
    <div class="row">
        <div class="searchBar" data-bind="css: { 'searchBar-inSearch': hasResults }">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", id = "mainSearchForm" }))
            {
                <div class="col-xs-2" style="padding-left: 0;">
                    <a href="/" id="brandLnk" data-bind="css: { 'disable': !$data.hasResults() }">
                        <div class="searchBar-brand" data-bind="css: { 'show-brand': hasResults }">
                            <span class="fa fa-film"></span>
                        </div>
                    </a>
                </div>
                <div class="col-xs-8">
                    <div class="input-group searchInput">
                        <input type="text" class="form-control" data-bind="textInput: searchTerm" id="searchInput"/>
                        <div id="autocompleteContainer"></div>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
}
<div class="row" id="result">
    <div class="col-sm-10 col-sm-offset-1 text-center" data-bind="visible: hasResults">
        <b><span data-bind="text: hits"></span> results returned for "<span id='resultTerm'></span>"</b>
        <small>(Page <span data-bind="text: page() + 1"></span> of <span data-bind="text: totalPages"></span>)</small>
    </div>
    <div class="col-sm-10 col-sm-offset-1" data-bind="visible: !$data.hasResults() && $data.hasSpellingSuggestions()">
        <b>0 results returned</b>
        <div>
            <h2><small>Did you mean?</small></h2>
            <div data-bind="foreach: spellingSuggestions">
                <small><button data-bind="text: $data, click: function () {$parent.searchTerm($data);}" class="btn-link"></button></small>
            </div>
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1" data-bind="visible: !$data.hasResults() && !$data.hasSpellingSuggestions() && $data.searchTerm() !== ''">
        <b>0 results returned</b>
    </div>
</div>
<div class="row" data-bind="visible: showFilter">
    <div class="col-sm-2">
        <div class="well">
            <h4 class="text-center">Score Filter</h4>
            <small><button class="btn-link" id="filterToggleBtn">[Show]</button></small>
            <small><button class="btn-link" onclick="clearFilters()">[Clear]</button></small>
            <div style="display: none;" id="filters">
                <div>
                    <label for="dropdownMin"><small>Only show reviews with scores greater than:</small></label><br />
                    <select name="dropdownMin" id="dropdownMin">
                        <option selected="selected">0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </div>
                <div>
                    <label for="dropdownMax"><small>And less than:</small></label><br />
                    <select name="dropdownMax" id="dropdownMax">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option selected="selected">10</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8"  data-bind="foreach: results">
        <div class="searchResult well">
            <div class="row">
                <div class="col-xs-12 col-sm-2">
                    <img data-bind="attr: { src: imageUrl}, event: {error: imageError}" class="movieImage" />
                </div>
                <div class="col-xs-12 col-sm-10">
                    <h1 data-bind="html: getTitle"></h1>
                    <h4><small data-bind="text: 'Released: ' + $data.releaseDate()"></small></h4>

                    <span class="score" data-bind="attr: {title: $data.score() + '/10'}" data-toggle="tooltip">
                        <span class="fa fa-star" data-bind="css: { filled: $data.score() >= 1 }"></span>
                        <span class="fa fa-star" data-bind="css: { filled: $data.score() >= 2 }"></span>
                        <span class="fa fa-star" data-bind="css: { filled: $data.score() >= 3 }"></span>
                        <span class="fa fa-star" data-bind="css: { filled: $data.score() >= 4 }"></span>
                        <span class="fa fa-star" data-bind="css: { filled: $data.score() >= 5 }"></span>
                        <span class="fa fa-star" data-bind="css: { filled: $data.score() >= 6 }"></span>
                        <span class="fa fa-star" data-bind="css: { filled: $data.score() >= 7 }"></span>
                        <span class="fa fa-star" data-bind="css: { filled: $data.score() >= 8 }"></span>
                        <span class="fa fa-star" data-bind="css: { filled: $data.score() >= 9 }"></span>
                        <span class="fa fa-star" data-bind="css: { filled: $data.score() >= 10 }"></span>
                    </span>

                    <div data-bind="visible: url() !== null && url() !== ''" style="margin: 10px 0;">
                        <a data-bind="attr: { href: url }"><span class="fa fa-link"></span> IMDb</a>
                    </div>

                    <span><b>Matched Text:</b></span>
                    <p class="nolinebreak"><em data-bind="html: getFragments"></em></p>

                    <button class="btn-link" data-bind="click: toggleReview, text: moreLinkText">[Read Full Review]</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-2 fulltext" data-bind="attr: {id: id}" style="display: none;">
                    <span data-bind="html: text"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <div class="btn-group" data-bind="html: pagerHtml">
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var vm = new ResultsViewModel("@Url.Action("Index", "Home")", "@Url.Action("GetAutoCompleteTerms", "Home")", "searchInput");
        ko.applyBindings(vm);

        $(function () {
            // cancel form submission and let knockout vm handle instead
            $("#mainSearchForm").submit(function () {
                vm.setPage(0, true);
                return false;
            });

            $("#spinnerMin").spinner({
                min: 0,
                max: 10,
                step: 1
            });

            $("#spinnerMax").spinner({
                min: 0,
                max: 10,
                step: 1
            });

            $("#dropdownMin").selectmenu({
                change: function (event, ui) {
                    vm.filterMin(+ui.item.value);
                }
            });
            $("#dropdownMax").selectmenu({
                change: function (event, ui) {
                    vm.filterMax(+ui.item.value);
                }
            });

            $("#filterToggleBtn").click(function () {
                var $btn = $("#filterToggleBtn");
                if ($btn.text() === "[Show]") {
                    $btn.text("[Hide]");
                } else {
                    $btn.text("[Show]");
                }
                $('#filters').slideToggle();
            });

            $("#brandLnk").click(function () {
                return vm.hasResults();
            });
        });

        function clearFilters() {
            $('#dropdownMin').val('0');
            $("#dropdownMin").selectmenu("refresh");

            $('#dropdownMax').val('10');
            $("#dropdownMax").selectmenu("refresh");

            vm.filterMax(null);
            vm.filterMin(null);
            vm.skipAutoComplete = true;
            vm.search();
        }
    </script>
}